@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to Cola Compare!</h1>

Welcome to your new app.

<div>
    <input type="number" name="firstNumber"/>
    @{
        int result = 1+1;
    }
    @result
</div>
<div>
    x
</div>
<div>
    x
</div>